#Label1 {
    text-align: center;
    background-color: pink;
    color: blue;
    font-weight:bold;
    font-size:16px;
    border-bottom:1px solid white;
    border-top:0.7px solid gray;
    border-left:0.7px solid gray;
    border-right:0.7px solid gray;
}

#form1 {
    margin-left: 500px;
    margin-top:100px;
}

#GridView1 {
    border: 1px solid black;
}