<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <!--BTMAU-->
        <add name="BaiMau1" connectionString="Data Source=A109PC29; Initial Catalog=BAIMAU1; User ID=sa; Password=123 " />
      
        <!--BTTL1-->
        <add name="BTTL1" connectionString="Data Source=DESKTOP-5V9RJ2M\SQLEXPRESS; Initial Catalog=sqlBTTL1; User ID=sa; Password=sa2012 " />
        <add name="sqlBTTL1ConnectionString" connectionString="Data Source=DESKTOP-5V9RJ2M\SQLEXPRESS;Initial Catalog=sqlBTTL1;User ID=sa;Password=sa2012"
            providerName="System.Data.SqlClient" />
        <add name="sqlBTTL1ConnectionString2" connectionString="Data Source=DESKTOP-5V9RJ2M\SQLEXPRESS;Initial Catalog=sqlBTTL1;User ID=sa;Password=sa2012"
            providerName="System.Data.SqlClient" />
        <add name="sqlBTTL1ConnectionString3" connectionString="Data Source=DESKTOP-5V9RJ2M\SQLEXPRESS;Initial Catalog=sqlBTTL1;User ID=sa;Password=sa2012"
            providerName="System.Data.SqlClient" />
        <!--BTVN1-->
        <add name="XXX" connectionString="Data Source=DESKTOP-5V9RJ2M\SQLEXPRESS;Initial Catalog=qlnv;User ID=sa;Password=sa2012"
          providerName="System.Data.SqlClient" />
        <add name="qlnvConnectionString" connectionString="Data Source=DESKTOP-5V9RJ2M\SQLEXPRESS;Initial Catalog=qlnv;User ID=sa;Password=sa2012"
          providerName="System.Data.SqlClient" />
        <add name="qlnvConnectionString2" connectionString="Data Source=DESKTOP-5V9RJ2M\SQLEXPRESS;Initial Catalog=qlnv;User ID=sa;Password=sa2012"
          providerName="System.Data.SqlClient" />
        <add name="qlnvConnectionString3" connectionString="Data Source=DESKTOP-5V9RJ2M\SQLEXPRESS;Initial Catalog=qlnv;User ID=sa;Password=sa2012"
          providerName="System.Data.SqlClient" />
        <add name="qlnvConnectionString1" connectionString="Data Source=DESKTOP-5V9RJ2M\SQLEXPRESS;Initial Catalog=qlnv;User ID=sa;Password=sa2012"
          providerName="System.Data.SqlClient" />
        <add name="qlnvConnectionString4" connectionString="Data Source=DESKTOP-5V9RJ2M\SQLEXPRESS;Initial Catalog=qlnv;User ID=sa;Password=sa2012"
          providerName="System.Data.SqlClient" />
        <!--BTVN2-->
        
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
    
</configuration>
