#Label1 {
    font-size: 35px;
    color: red;
    margin-left:200px;
}

.full {
    border: 1px solid blue;
    margin-left:400px;
    width:100%;
}

#Label5 {
    margin-bottom: 30px;
}

#btnThem {
    margin-top: 20px;
    margin-left: 200px;
}