<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
    <connectionStrings>
      <add name="BTVN2" connectionString="Data Source=A109PC29; Initial Catalog=BTVN2; User ID=sa; Password=123 " />
      <add name="QLT" connectionString="Data Source=A109PC29; Initial Catalog=QlDienDan; User ID=sa; Password=123 " />
        <add name="QLBTVN1" connectionString="Data Source=A109PC29; Initial Catalog=Bai1; User ID=sa; Password=123 " />
        <add name="QLThanhVien" connectionString="Data Source=A109PC29; Initial Catalog=Bai1; User ID=sa; Password=123 " />
        <add name="QLTin" connectionString="Data Source=A109PC29; Initial Catalog=Bai1; User ID=sa; Password=123 " />
        <add name="QLKH" connectionString="Data Source=A109PC29; Initial Catalog=QLKH; User ID=sa; Password=123 " />
        <add name="QLSP" connectionString="Data Source=A109PC29; Initial Catalog=QLSP; User ID=sa; Password=123 " />
        <add name="QLSPConnectionString" connectionString="Data Source=A109PC29;Initial Catalog=QLSP;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="Bai1ConnectionString" connectionString="Data Source=A109PC29;Initial Catalog=Bai1;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
