<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <connectionStrings>
    <add name="BTTL2" connectionString="Data Source=A207PC26\SQL2012; Initial Catalog=sqlBTTL2; User ID=sa; Password=sa2012 " />
    <add name="sqlBTVN1ConnectionString" connectionString="Data Source=A207PC26\SQL2012;Initial Catalog=sqlBTVN1;User ID=sa;Password=sa2012"
      providerName="System.Data.SqlClient" />
    <add name="sqlBTVN2ConnectionString" connectionString="Data Source=A207PC26\SQL2012;Initial Catalog=sqlBTVN2;User ID=sa;Password=sa2012"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>