body, ul, li {
    padding:0;
    margin:0;
    background-color:gray;
    font-family: Arial, sans-serif, 'Times New Roman';
    font-size:12px;
}

.clear {
    clear:both;
}

.wrapper {
    width:950px;
    margin:auto;
}

.content {
    width:100%;
    background-color:rgb(254,254,254);
    border:1px solid rgb(224,224,224);
    border-radius:5px 5px 5px 5px;
    float:left;
    margin-top:3px;
    margin-bottom:3px;
    min-height:500px;
}

.menu {
    background-color:rgb(10,110,179);
    width:100%;
    margin:0px 0px 10px;
    padding: 0;
    height:40px;
    color:rgb(243,243,243);
    border-radius:5px 5px 5px 5px;
}

.navigation_first_item {
    border-left:0px;
    border-radius:5px 0px 0px 5px;
}

.menu ul {
}

.menu ul li {
    float:left;
    display:block;
    list-style:none;
    border-radius:5px 5px 5px 5px;
    border-right:1px solid rgb(10,85,125);
    border-left:1px solid rgb(67,153,200);
}

.menu ul li a {
    font-size:13px;
    font-weight:bold;
    line-height:40px;
    padding: 8px 20px;
    color:rgb(255,255,255);
    text-decoration:none;
}

.menu ul li:hover {
    background-color:rgb(14,79,114);
    border-right:1px solid rgb(14,89,130);
}

.footer {
    height:50px;
    background-color:rgb(10,110,179);
    color:rgb(255,255,255);
    border-radius:5px 5px 5px 5px;
}

.footer p {
    padding:15px;
    text-align:center;
}